@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.navbar {
    background: linear-gradient(180deg, rgba(210,233,255,1) 0%, rgba(242,249,255,1) 47%, rgba(255,255,255,1) 100%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    z-index: 1;
    position: fixed;
    font-family: 'Poppins', sans-serif;
   
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #660ee1;
  }

  .complete-logo{
    display: flex;
    align-items: center;
    
}

.logo-container{
    color: white;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 7px;
    background-color: #333;

}

span{
    color: #333;
}
  
  .navbar-menu-icon {
    font-size: 20px;
    cursor: pointer;
    display: none;
    color: #333;
  }

  .navbar-menu-icon:hover{
    color: #660ee1;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin: 0 10px;
  }
  
  .navbar-links a {
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    color: rgb(0, 119, 255);
  }

  .navbar-links a.active{
    color: #39166b;
}

  .contact-btn{
    border-style: none;
    background-color: #660ee1;
    border-radius: 40px;
    padding: 5px 20px;
    font-family: po;

  }
  .contact-btn a{
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  .contact-btn:hover{
    background-color: #3f0196;
  }
  
 

  
  @media screen and (max-width: 1000px) {
    .navbar-container {
      flex-wrap: wrap;
      
    }
  
    .navbar-logo {
      margin-right: auto;
      font-size: 40px;
    }

    .logo-container{
        height: 40px;
        width: 40px;
    }
  
    .navbar-menu-icon {
      display: block;
      font-size: 40px;
    }
  
    .navbar-links {
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: rgba(255, 255, 255, 0.515);
      backdrop-filter: blur(10px);
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 10px 5px 20px rgba(152, 152, 152, 0.413);
      
    }

    .navbar-links button{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }
  
    .navbar-links li {
      margin: 10px 0;
      
    }
  
    .navbar-links a {
      display: block;
      text-align: center;
      font-size: 30px;
    }

    
  
    .navbar-links.active {
      display: flex;
      flex-direction: column;

    }
  }
  