@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');

  :root{
    --title-color: #333;
    --span-title-color:rgb(0, 119, 255);
    --bg-color:#fff;
    --para-color:#04040490;
    --black:#000;
    --code-span: green;
    --hashtag-bg:rgba(153, 0, 255, 0.09);
    --hashtag-txt:rgb(153, 0, 255);
    --code-bg:#d4ddff2d;
    --code-border:#d4ddff;
    --project-border:#660ee123;
    --project-bg:#ffffff;
    --nav-bg:rgba(210,233,255,1);
    --logo-color:#660ee1;
    --active-color:#39166b;
  }

  .dark-theme{
    --title-color: #ffffffd2;
    --span-title-color:rgb(255, 255, 255);
    --bg-color:#181026;
    --para-color:#ffffff90;
    --black:#000;
    --code-span: rgb(255, 255, 255);
    --hashtag-bg:rgb(221, 169, 255);
    --hashtag-txt:rgb(81, 0, 135);
    --code-bg:#d4ddffa3;
    --code-border:#d4ddff;
    --project-border:#ffffff23;
    --project-bg:#ffffff23;
    --nav-bg: rgb(35, 1, 59);
    --logo-color:rgb(255, 255, 255);
    --active-color: rgb(166, 119, 224);

  }


.navbar {
  background: linear-gradient(180deg, var(--nav-bg) 10%, var(--bg-color) 100%, var(--bg-color)100%);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
 left: 0;
    z-index: 1;
    position: fixed;
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(50px);
    border-bottom: 1px solid var(--project-border);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
    
  }
  
  .navbar-logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--logo-color);
  }

  .complete-logo{
    display: flex;
    align-items: center;
    
}

.logo-container{
    color: white;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 7px;
    background-color: #333;

}

span{
    color: #333;
}
  
  .navbar-menu-icon {
    font-size: 20px;
    cursor: pointer;
    display: none;
    color: var(--title-color);
  }

  
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin: 0 10px;
  }
  
  .navbar-links a {
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    color: var(--para-color);
  }

  .navbar-links a.active {
    color: var(--active-color);
    font-weight: 600;
    }

    

  .contact-btn{
    border-style: none;
    background-color: var(--active-color);
    border-radius: 40px;
    padding: 5px 20px;
    font-family: po;

  }
  .contact-btn a{
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  .contact-btn:hover{
    background-color: #3f0196;
  }
  .navbar-links a.active1{
    color: var(--active-color);
  }

  #icon{
    height: 20px;
    width: 20px;
    background-color: #ffffff8b;
    border-radius: 5px;
    padding: 5px;
    border: 0.2px solid #d5d5d5;
    cursor: pointer;
    
  }
  .navbar-close-icon{
    display: none;
  }
  
  
  /*new theme switch*/
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(104, 174, 255);
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }

  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }

  
  @media screen and (max-width: 1000px) {

   .navbar-close-icon{
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    padding: 50px;
    cursor: pointer;
   }


    .navbar-container {
      flex-wrap: wrap;
      padding-top: 70px;
      padding-bottom: 70px;
      color: var(--para-color);
      
    }
    
  
    .navbar-logo {
      margin-right: auto;
      font-size: 60px;
    }

    .logo-container{
        height: 40px;
        width: 40px;
    }
  
    .navbar-menu-icon {
      display: block;
      font-size: 60px;
    }
  
    .navbar-links {
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: var(--bg-color);
      backdrop-filter: blur(50px);
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 10px 5px 20px rgba(152, 152, 152, 0.413);
      
    }

    .navbar-links button{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }
  
    .navbar-links li {
      margin: 10px 0;
      
    }
  
    .navbar-links a {
      display: block;
      text-align: center;
      font-size: 30px;
    }

    
  
    .navbar-links.active {
      display: flex;
      flex-direction: column;

    }

    .navbar-links.close{
      display: none;
    }

   
    .navbar-links a.active1{
      color: var(--active-color);
    }

    #icon{
      display: block;
      height: 50px;
      width: 50px;
      background-color: #ffffff8b;
      border-radius: 5px;
      padding: 5px;
      border: 0.2px solid #d5d5d5;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      
      
    }
  }
  