/* Global styles */
body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
	

}


main {
	padding: 100px;
	
	
}

#main-container{
	
	margin-bottom: 40vh;
}

#index-title{
	color: #525151;
	display: flex;
	align-items: center;
	font-size: 50px;
	
}

#title-img{
	height: 100px;
	width: 100px;
	
}

#name{
	color: #525151;
	font-weight:500;
	font-size: 50px;
}
#kaveesha{
	font-weight: bold;
	color: rgb(0, 119, 255);
}

#index-paragrapgh{
	font-size: 16px;
	color: #525151;
	width: 50%;
}

#my-paragrapgh{
	font-weight: bold;
	color: #525151;
}
.resume-btn {
	display: inline-block;
	padding: 12px 24px;
	background-color: #007bff;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	border-radius: 17px;
	border: none;
	transition: background-color 0.3s ease;
	
	
  }
  
  .resume-btn:hover {
	background-color: #0062cc;
  }
  
  #resume-container{
	display: flex;
	align-items: center;
	margin-top: 70px;
  }

  #animate{
	padding-left: 10px;
	color: rgba(0, 0, 0, 0.397);
	overflow: hidden;
  border-right: .15em solid rgb(0, 123, 255);
  white-space: nowrap;
  animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
	from { width: 0 }
	to { width: 50% }
  }
  
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: rgb(0, 123, 255)}
  }

  hr{
	border-style: none;
	border: 0.2px solid #33333341;
	margin: 50px;
  }

  .today{
	margin: 50px;
  }

  .today-title{
	font-size: 50px;
	color: #333;
	font-weight: bold;
	
  }

  .today-sub{
	color: #04040490;
	font-size: 16px;
  }
 

  .til-container{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 50px;
	margin-top: 20px;
	align-items:baseline;
  }

  .til-date{
	text-align: right;
	font-size: 15px;
	font-family: 'Roboto Mono', monospace;
  }

  .til-title{
	font-weight: bold;
	font-size: 30px;
	color: #333;
  }

  .til-hashtag{
	background-color: rgba(153, 0, 255, 0.09);
	width: fit-content;
	border-radius: 30px;
	padding: 5px 10px;
	color: rgb(153, 0, 255);
	font-size: 16px;
  }

  .til-para{
	color: #04040490;
	font-size: 16px;
	padding: 30px;
	border-left: solid 1px #3333338c;
  }

  .til-code{
	background: #d4ddff2d;
	border: solid 1px #d4ddff;
	border-radius: 20px;
	margin: 5px;
	width: 100%;
	overflow-wrap: break-word;
	
	
  }

 

  .file-btn{
	background-color: #d4ddff;
	border: solid 1px #d4ddff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
  }

  .code-file{
	font-size: 16px;
	padding: 1px 5px;
	
  }

  .code-container{
	padding-left: 5px;
	font-size: 16px;
  }

  .code span{
	color: green;
  }

 


/*footer*/  
  footer {
	background: linear-gradient(0deg, rgba(229,228,255,1) 0%, rgba(239,247,255,1) 48%, rgba(249,252,255,1) 63%, rgba(255,255,255,1) 100%);
	padding: 30px 0;
	border-top: 0.2px solid #00000013;
	
	
  }
  
  .footer-container{
	padding: 50px;
  }
a{
	text-decoration: none;
  }
 
  
  .footer-contact ul {
	list-style: none;
	padding-left: 0;
  }
  
  .footer-contact ul li {
	margin-bottom: 10px;
	font-size: 11px;
	color: rgba(0, 0, 0, 0.513);
  }
  
  .footer-contact ul li i {
	margin-right: 10px;
	color: #777;
  }
/*footer over*/  

#main-container{
	display: flex;
	align-items: center;
}

#draw{
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1000px){

	main{
		padding: 200px 20px;
		
		margin-top: 150px;
		
	}

	#main-container{
	
		margin-bottom: 10px;
	}


	

	#index-paragrapgh{
		text-align: justify;
		width: 100%;
	}

	



	.draw{
		align-items: center;
	}

	#main-container{
		display: block;
	}

	#index-paragrapgh{
		font-size: 30px;
		width: 80%;
	}

	.resume-btn{
font-size: 30px;
margin: 20px;

	}

	#resume-container{
		display: block;
		align-items: center;
		margin-top: 70px;
	  }

	  

	.til-container{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 50px;
		margin-top: 20px;
		align-items:baseline;
	  }

	
	
}