/* Global styles */
body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	

}


main {
	padding: 100px;
	
	
}



#main-container{
	
	margin-bottom: 40vh;
}

#index-title{
	color: var(--title-color);
	display: flex;
	align-items: center;
	font-size: 50px;
	
}

#title-img{
	height: 100px;
	width: 100px;
	
}

#name{
	color: var(--title-color);
	font-weight:500;
	font-size: 50px;
}
#kaveesha{
	font-weight: bold;
	color: var(--span-title-color);
}

#index-paragrapgh{
	font-size: 16px;
	color: var(--title-color);
	width: 50%;
}

#my-paragrapgh{
	font-weight: bold;
	color: var(--title-color);
}
.resume-btn {
	display: inline-block;
	padding: 12px 24px;
	background-color: var(--span-title-color);
	color: var(--bg-color);
	font-size: 16px;
	text-decoration: none;
	border-radius: 17px;
	border: none;
	transition: background-color 0.3s ease;
	
	
  }
  
  .resume-btn:hover {
	background-color: var(--span-title-color);
  }
  
  #resume-container{
	display: flex;
	align-items: center;
	margin-top: 70px;
  }

  #animate{
	padding-left: 10px;
	color: var(--para-color);
	overflow: hidden;
  border-right: .15em solid var(--span-title-color);
  white-space: nowrap;
  animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
	from { width: 0 }
	to { width: 50% }
  }
  
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: var(--span-title-color)}
  }

  .fav-icons{
	display: flex;
	padding: 20px;
}

.fav-tools{
	padding-top: 60px;
	color: var(--para-color);
}

.tool-icon{
	padding: 15px;
	
}

  hr{
	border-style: none;
	border: 0.2px solid var(--para-color);
	margin: 50px;
  }

  .today{
	margin: 50px;
  }

  .today-title{
	font-size: 50px;
	color: var(--title-color);
	font-weight: bold;
	
  }

  .today-sub{
	color: var(--para-color);
	font-size: 16px;
  }
 

  .til-container{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 50px;
	margin-top: 20px;
	align-items:baseline;
  }

  .til-date{
	text-align: right;
	font-size: 15px;
	font-family: 'Roboto Mono', monospace;
	color: var(--title-color);
  }

  .til-title{
	font-weight: bold;
	font-size: 30px;
	color: var(--title-color);
  }

  .til-hashtag{
	background-color: var(--hashtag-bg);
	width: fit-content;
	border-radius: 30px;
	padding: 5px 10px;
	color: var(--hashtag-txt);
	font-size: 16px;
  }

  .til-para{
	color: var(--para-color);
	font-size: 16px;
	padding: 30px;
	border-left: solid 1px var(--para-color);
  }

  .til-code{
	background: var(--code-bg);
	border: solid 1px var(--code-border);
	border-radius: 20px;
	margin: 5px;
	width: 100%;
	overflow-wrap: break-word;
	
	
  }

 

  .file-btn{
	background-color: var(--code-border);
	border: solid 1px var(--code-border);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
  }

  .code-file{
	font-size: 16px;
	padding: 1px 5px;
	
  }

  .code-container{
	padding-left: 5px;
	font-size: 16px;
  }

  .code span{
	color: var(--code-span);
  }

 




#main-container{
	display: flex;
	align-items: center;
}




@media screen and (max-width: 1000px){

	main{
		padding: 200px 20px;
		margin-top: 150px;
		
	}

	#main-container{
	
		margin-bottom: 10px;
	}

	
	

	#index-paragrapgh{
		text-align: justify;
		width: 100%;
	}

	


	.draw{
		align-items: center;
	}

	#main-container{
		display: block;
	}

	#index-paragrapgh{
		font-size: 30px;
		width: 80%;
	}

	.resume-btn{
font-size: 30px;
margin: 20px;

	}

	#resume-container{
		display: block;
		align-items: center;
		margin-top: 70px;
	  }

	  

	.til-container{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 50px;
		margin-top: 20px;
		align-items:baseline;
	  }

	
	
}
