body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	background-size: 100% 100%;
	justify-content: center;
	

}




main {
	padding: 100px;

	
}

h1, p{
    color: var(--title-color);
	
}

#tit{
	color: var(--title-color);
}

.title-div{
	display: flex;
	align-items: center;
}
.win-img{
	height: 100px;
	width: 100px;
}

.reveal-on-load{
	opacity: 0;
    transform: translateX(-100%);
    animation: reveal 1s forwards;
	text-align: justify;
	
}
@keyframes reveal {
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
.carousel{
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel img{
	display: block;
    margin: 0 auto;
	height: 40vh;
	padding: 30px;
}
.bone{
	display: grid;
grid-template-columns: 1fr;
grid-gap: 20px;

justify-content: center;

}



.container {
	

	
	
	background-color: var(--project-bg);
	border: 1px solid var(--project-border);
	border-radius: 20px;

	backdrop-filter: blur(10px);
	box-shadow: 10px 5px 20px rgba(152, 152, 152, 0.413);
	align-items: center;
	text-align: center;
	justify-content: center;
	
  }



  #para{
	color: var(--para-color);
	text-align: center;
	padding: 20px;
	text-align: left;
  }
  #tit{
	padding: 20px;
	text-align: left;
  }
  
  .reveal-on-scroll {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
	
  }
  
  .reveal {
	opacity: 1;
	transform: translateY(0);
  }
 



@media screen and (max-width: 1000px){

	main{
	 
	 
		margin-top: 400px;
	 
	}
	h1{
		font-size: 60px;
	}
  
	p{
	  
	  word-wrap: break-word;
	  font-size: 50px;
	  text-align: left;
	  
	  
	 
	}
	.carousel{
		display: grid;
		grid-template-columns: 1fr;
    	grid-gap: 20px;

	
	}


.bone{
	
	width: 100%;
}
	


	.container{
		font-size: 30px;
		justify-content: center;
		align-items: center;
		
		text-align: center;
	}

	#para{
		font-size: 25px;
	
	}
	#tit{
		font-size: 30px;
	}

	.win-img{
height: 200px;
width: 200px;
	}
	
  
	
	
  
	
  }