body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	background-size: 100% 100%;
	

}
h1, p{
    color: var(--title-color);
}

main {
	padding: 100px;
	
}
.reveal-on-load{
	opacity: 0;
    transform: translateX(-100%);
    animation: reveal 1s forwards;
    text-align: justify;
}
@keyframes reveal {
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
.title-div{
	display: flex;
	align-items: center;
}
.win-img{
	height: 90px;
	width: 90px;
}

.intro{
    border-left: 1px solid var(--para-color);
    padding: 20px;
    color: var(--para-color);
}

.com-img{
  
    display: block;
    margin: 0 auto;
border-radius: 20px;
}

.table{
    border: 1px solid var(--project-border);
    padding: 10vh;
    margin-top: 20px;
    border-radius: 20px;

}

.tit{
    padding-top: 20px;
    font-weight:500;
    color: var(--title-color);
    font-size: 30px;
   padding-bottom: 50px;
}

table, th, td{
   
    text-align: left;

}

table{

    border: none;
    border-radius: 10px; 
    width: 100%;
    
}
th{
   
    border: none;
    border-bottom: 1px solid var(--project-border);
    color: var(--para-color);
    font-weight: 500;
    font-size: 13px;
    padding: 20px;
}
td{
    padding: 20px;
  border: none;
  color: var(--para-color);
  
  
}


.bordered{
    border: 1px solid var(--project-border);
    background-color: var(--bg-color);
    opacity: 70%;
    backdrop-filter: blur(10px);
box-shadow: 10px 5px 20px rgba(152, 152, 152, 0.413);
    
}

hr{
  margin: 20px;
  opacity: 20%;
}



@media screen and (max-width: 1000px){

  main{
   
    margin-top: 400px;
    
  }
h1{
  font-size: 60px;
  text-align: left;
 
}

  p{
    width: 75%;
    word-wrap: break-word;
    font-size: 50px;
    text-align: left;
  }
  table{
    font-size: 30px;
  }

  th{
    font-size: 30px;
  }

 
  .com-img{
    width: 90%;
  }

  .intro{
    font-size: 30px;
    padding: 50px;
  }

  
}
